.title_1{
    font-family:'Times New Roman', Times, serif;
    font-size: 14pt;
    font-weight: bold;
    color: red;
}

.main_title{
    font-family:'Times New Roman', Times, serif;
    font-size: 14pt;
    font-weight: bold;
    color: red;
    text-align: center;
    padding: 20px;
}

.att_info{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 13pt;
}

.info{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 13pt;
}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.main_image{
    box-shadow:15px 15px 8px #8af8cf;
}

.button_style{
    width: 25px;
    height: 25px;
    border-radius: 20%;
    border-color: black;
    border: 1px solid;
    /* cursor: pointer; */
    padding: 5px;
}